*{
    margin:0 ;
    padding:0;
    box-sizing: border-box;
}
ul,li{list-style: none;}
a{text-decoration: none;}
html,body{
    width:100%;
    font-family: Arial,"Microsoft YaHei",sans-serif;
    font-size: 1rem;
    position: relative;
}

/*info的样式*/
.info{
    float: left;
    width:35%;
    background:#eee;
}
.info .avatar{
    padding:6rem 0;
    text-align: center;
}
.info .avatar img{
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border:0.5rem solid #ccc;
}
.info .avatar h2{
    margin-top: 1.2rem;
    font-size: 2rem;
    font-family: cursive;
    color:rgba(0,0,0,.8);
}
.info .detail {
    font-family: cursive;
    font-size: 1rem;
    color:#000;
    margin:0 auto;
}
.info .detail .list{
   padding: 1.5rem;
}
.info .detail .list li{
    margin-left:1rem;
    padding:0.5rem;
    text-align: left;
}
.info .detail li>span{
    margin-left: 0.5rem;
    margin-right:1rem;
    text-align: center;
}
.info .detail li span.last{
    margin-left: -0.5rem;
}


/*main的样式*/
.main{
    float:right;
    width: 65%;
    background-color: #3a3c40;
}

/*.footer的样式*/
.footer{
    position: fixed;
    bottom:0;
    left:25%;
}
.footer a{
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color:#fff;
    background-color: rgba(33, 67, 163, 0.6);
    font-size: 1.2rem;
    font-family: cursive;
    transition: all 0.3s;
}
.footer a:hover{
    background-color: rgba(33, 67, 163, 0.9);
}

